.services-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
  /* display: inline; */
  flex-direction: row;
}

.my-awsome-services {
  display: flex;
  font-size: 40px;
  font-weight: 900;
  color: #000000;
  flex-direction: column;
  margin-bottom: 100px;
}
.stroke-text{
  color: transparent;
  -webkit-text-stroke: #fca61f;
  -webkit-text-stroke-width: 1px;
  
}
.l-services {
  font-size: 40px;
  font-weight: 900;
  color: #fca61f;
}
.btn-cv {
  align-items: center;
  padding: 10px;
  margin: 20px 20px 20px 0px;
  box-shadow: 0px 20px 10px #fbc56f;
  font-size: 20px;
  font-weight: 900;
  color: #000000;
}
.cv-resume {
  display: flex;
  flex-direction: row;
}
.cv-resume-link {
  text-decoration: none;
}
.sliding-div {
  width: 250px;
  height: 70px;
  display: flex;
  border-radius: 10px;
  background-color: #0bfc23;
  border: 5px solid #fca61f;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.div1 {
  margin-top: 50px;
  top: -20px;
  left: 0px;
  position: relative;
}
.div2 {
  top: -20px;
  left: 20px;
  position: relative;
}
.div3 {
  top: -20px;
  left: 40px;
  position: relative;
}
.div4 {
  top: -20px;
  left: 60px;
  position: relative;
}
.div5 {
  top: -20px;
  left: 40px;
  position: relative;
}
.div6 {
  top: -20px;
  left: 20px;
  position: relative;
}
.div7 {
  top: -20px;
  left: 0px;
  position: relative;
}
@media screen and (max-width: 800px) {
  .services-container {
    flex-direction: column;
  }
}
