.s-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 100px;
}
@media screen and (max-width: 800px){
    .s-container{
        flex-direction: column;
    }
}
.Familier-languages{
    font-weight: 800;
    font-size: 30px;
    color: #fca61f;
    text-align: center;
    margin: 15px;
}
.skills-left{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.skills-right{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.s-header{
    font-weight: 800;
    font-size: 25px;
    color: black;
    margin: 15px;
}
.languages{
    font-size: 20px;
    text-indent: 20px;
    margin: 3px;
    opacity: 0.7;
}